<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SmileIndia.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>bitcode</key>
			<true/>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>661649F2FBB3E607080D0D9F40047FA7A05DEBF2</string>
				<key>dateExpires</key>
				<string>03/06/21</string>
				<key>type</key>
				<string>Apple Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>661649F2FBB3E607080D0D9F40047FA7A05DEBF2</string>
						<key>dateExpires</key>
						<string>03/06/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>ActiveLabel.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>GD46A3UVCR</string>
						<key>name</key>
						<string>Harjap Nanva</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>661649F2FBB3E607080D0D9F40047FA7A05DEBF2</string>
						<key>dateExpires</key>
						<string>03/06/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>BSImagePicker.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>GD46A3UVCR</string>
						<key>name</key>
						<string>Harjap Nanva</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>661649F2FBB3E607080D0D9F40047FA7A05DEBF2</string>
						<key>dateExpires</key>
						<string>03/06/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FloatRatingView.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>GD46A3UVCR</string>
						<key>name</key>
						<string>Harjap Nanva</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>661649F2FBB3E607080D0D9F40047FA7A05DEBF2</string>
						<key>dateExpires</key>
						<string>03/06/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GoogleToolboxForMac.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>GD46A3UVCR</string>
						<key>name</key>
						<string>Harjap Nanva</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>661649F2FBB3E607080D0D9F40047FA7A05DEBF2</string>
						<key>dateExpires</key>
						<string>03/06/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>IQKeyboardManager.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>GD46A3UVCR</string>
						<key>name</key>
						<string>Harjap Nanva</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>661649F2FBB3E607080D0D9F40047FA7A05DEBF2</string>
						<key>dateExpires</key>
						<string>03/06/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>MarqueeLabel.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>GD46A3UVCR</string>
						<key>name</key>
						<string>Harjap Nanva</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>661649F2FBB3E607080D0D9F40047FA7A05DEBF2</string>
						<key>dateExpires</key>
						<string>03/06/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Protobuf.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>GD46A3UVCR</string>
						<key>name</key>
						<string>Harjap Nanva</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>661649F2FBB3E607080D0D9F40047FA7A05DEBF2</string>
						<key>dateExpires</key>
						<string>03/06/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Razorpay.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>GD46A3UVCR</string>
						<key>name</key>
						<string>Harjap Nanva</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>661649F2FBB3E607080D0D9F40047FA7A05DEBF2</string>
						<key>dateExpires</key>
						<string>03/06/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>SDWebImage.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>GD46A3UVCR</string>
						<key>name</key>
						<string>Harjap Nanva</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>661649F2FBB3E607080D0D9F40047FA7A05DEBF2</string>
						<key>dateExpires</key>
						<string>03/06/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>nanopb.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>GD46A3UVCR</string>
						<key>name</key>
						<string>Harjap Nanva</string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>GD46A3UVCR.com.smileindia</string>
				<key>aps-environment</key>
				<string>production</string>
				<key>beta-reports-active</key>
				<true/>
				<key>com.apple.developer.icloud-container-environment</key>
				<string>Production</string>
				<key>com.apple.developer.icloud-container-identifiers</key>
				<array/>
				<key>com.apple.developer.icloud-services</key>
				<array>
					<string>CloudDocuments</string>
				</array>
				<key>com.apple.developer.team-identifier</key>
				<string>GD46A3UVCR</string>
				<key>com.apple.developer.ubiquity-container-identifiers</key>
				<array/>
				<key>com.apple.developer.ubiquity-kvstore-identifier</key>
				<string>GD46A3UVCR.com.smileindia</string>
				<key>get-task-allow</key>
				<false/>
				<key>keychain-access-groups</key>
				<array>
					<string>GD46A3UVCR.com.smileindia</string>
				</array>
			</dict>
			<key>name</key>
			<string>SmileIndia.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>5a077510-906e-4996-910c-439a6823c6fa</string>
				<key>name</key>
				<string>iOS Team Store Provisioning Profile: com.smileindia</string>
			</dict>
			<key>symbols</key>
			<true/>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>GD46A3UVCR</string>
				<key>name</key>
				<string>Harjap Nanva</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
