<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Vigorto.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>3B015BBA249895BD942D66231055E2AEC0691AD7</string>
				<key>dateExpires</key>
				<string>05/11/21</string>
				<key>type</key>
				<string>Apple Development</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3B015BBA249895BD942D66231055E2AEC0691AD7</string>
						<key>dateExpires</key>
						<string>05/11/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>ActiveLabel.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>GD46A3UVCR</string>
						<key>name</key>
						<string>Drove &amp; Pace LLC</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3B015BBA249895BD942D66231055E2AEC0691AD7</string>
						<key>dateExpires</key>
						<string>05/11/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>BSImagePicker.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>GD46A3UVCR</string>
						<key>name</key>
						<string>Drove &amp; Pace LLC</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3B015BBA249895BD942D66231055E2AEC0691AD7</string>
						<key>dateExpires</key>
						<string>05/11/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>EZSwiftExtensions.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>GD46A3UVCR</string>
						<key>name</key>
						<string>Drove &amp; Pace LLC</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3B015BBA249895BD942D66231055E2AEC0691AD7</string>
						<key>dateExpires</key>
						<string>05/11/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>EnxRTCiOS.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>GD46A3UVCR</string>
						<key>name</key>
						<string>Drove &amp; Pace LLC</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3B015BBA249895BD942D66231055E2AEC0691AD7</string>
						<key>dateExpires</key>
						<string>05/11/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FBLPromises.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>GD46A3UVCR</string>
						<key>name</key>
						<string>Drove &amp; Pace LLC</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3B015BBA249895BD942D66231055E2AEC0691AD7</string>
						<key>dateExpires</key>
						<string>05/11/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FirebaseCore.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>GD46A3UVCR</string>
						<key>name</key>
						<string>Drove &amp; Pace LLC</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3B015BBA249895BD942D66231055E2AEC0691AD7</string>
						<key>dateExpires</key>
						<string>05/11/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FirebaseCoreDiagnostics.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>GD46A3UVCR</string>
						<key>name</key>
						<string>Drove &amp; Pace LLC</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3B015BBA249895BD942D66231055E2AEC0691AD7</string>
						<key>dateExpires</key>
						<string>05/11/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FirebaseInstallations.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>GD46A3UVCR</string>
						<key>name</key>
						<string>Drove &amp; Pace LLC</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3B015BBA249895BD942D66231055E2AEC0691AD7</string>
						<key>dateExpires</key>
						<string>05/11/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FirebaseInstanceID.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>GD46A3UVCR</string>
						<key>name</key>
						<string>Drove &amp; Pace LLC</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3B015BBA249895BD942D66231055E2AEC0691AD7</string>
						<key>dateExpires</key>
						<string>05/11/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FirebaseMessaging.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>GD46A3UVCR</string>
						<key>name</key>
						<string>Drove &amp; Pace LLC</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3B015BBA249895BD942D66231055E2AEC0691AD7</string>
						<key>dateExpires</key>
						<string>05/11/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FloatRatingView.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>GD46A3UVCR</string>
						<key>name</key>
						<string>Drove &amp; Pace LLC</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3B015BBA249895BD942D66231055E2AEC0691AD7</string>
						<key>dateExpires</key>
						<string>05/11/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>GoogleDataTransport.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>GD46A3UVCR</string>
						<key>name</key>
						<string>Drove &amp; Pace LLC</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3B015BBA249895BD942D66231055E2AEC0691AD7</string>
						<key>dateExpires</key>
						<string>05/11/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>GoogleUtilities.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>GD46A3UVCR</string>
						<key>name</key>
						<string>Drove &amp; Pace LLC</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3B015BBA249895BD942D66231055E2AEC0691AD7</string>
						<key>dateExpires</key>
						<string>05/11/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>IQKeyboardManager.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>GD46A3UVCR</string>
						<key>name</key>
						<string>Drove &amp; Pace LLC</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3B015BBA249895BD942D66231055E2AEC0691AD7</string>
						<key>dateExpires</key>
						<string>05/11/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>MDFInternationalization.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>GD46A3UVCR</string>
						<key>name</key>
						<string>Drove &amp; Pace LLC</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3B015BBA249895BD942D66231055E2AEC0691AD7</string>
						<key>dateExpires</key>
						<string>05/11/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>MDFTextAccessibility.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>GD46A3UVCR</string>
						<key>name</key>
						<string>Drove &amp; Pace LLC</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3B015BBA249895BD942D66231055E2AEC0691AD7</string>
						<key>dateExpires</key>
						<string>05/11/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>MarqueeLabel.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>GD46A3UVCR</string>
						<key>name</key>
						<string>Drove &amp; Pace LLC</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3B015BBA249895BD942D66231055E2AEC0691AD7</string>
						<key>dateExpires</key>
						<string>05/11/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>MaterialComponents.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>GD46A3UVCR</string>
						<key>name</key>
						<string>Drove &amp; Pace LLC</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3B015BBA249895BD942D66231055E2AEC0691AD7</string>
						<key>dateExpires</key>
						<string>05/11/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>OpalImagePicker.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>GD46A3UVCR</string>
						<key>name</key>
						<string>Drove &amp; Pace LLC</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3B015BBA249895BD942D66231055E2AEC0691AD7</string>
						<key>dateExpires</key>
						<string>05/11/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>ParallaxHeader.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>GD46A3UVCR</string>
						<key>name</key>
						<string>Drove &amp; Pace LLC</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3B015BBA249895BD942D66231055E2AEC0691AD7</string>
						<key>dateExpires</key>
						<string>05/11/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Razorpay.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>GD46A3UVCR</string>
						<key>name</key>
						<string>Drove &amp; Pace LLC</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3B015BBA249895BD942D66231055E2AEC0691AD7</string>
						<key>dateExpires</key>
						<string>05/11/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Reachability.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>GD46A3UVCR</string>
						<key>name</key>
						<string>Drove &amp; Pace LLC</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3B015BBA249895BD942D66231055E2AEC0691AD7</string>
						<key>dateExpires</key>
						<string>05/11/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Reactions.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>GD46A3UVCR</string>
						<key>name</key>
						<string>Drove &amp; Pace LLC</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3B015BBA249895BD942D66231055E2AEC0691AD7</string>
						<key>dateExpires</key>
						<string>05/11/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>SDWebImage.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>GD46A3UVCR</string>
						<key>name</key>
						<string>Drove &amp; Pace LLC</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3B015BBA249895BD942D66231055E2AEC0691AD7</string>
						<key>dateExpires</key>
						<string>05/11/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>SocketIO.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>GD46A3UVCR</string>
						<key>name</key>
						<string>Drove &amp; Pace LLC</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3B015BBA249895BD942D66231055E2AEC0691AD7</string>
						<key>dateExpires</key>
						<string>05/11/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Starscream.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>GD46A3UVCR</string>
						<key>name</key>
						<string>Drove &amp; Pace LLC</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3B015BBA249895BD942D66231055E2AEC0691AD7</string>
						<key>dateExpires</key>
						<string>05/11/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Stripe.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>GD46A3UVCR</string>
						<key>name</key>
						<string>Drove &amp; Pace LLC</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3B015BBA249895BD942D66231055E2AEC0691AD7</string>
						<key>dateExpires</key>
						<string>05/11/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>TLPhotoPicker.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>GD46A3UVCR</string>
						<key>name</key>
						<string>Drove &amp; Pace LLC</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3B015BBA249895BD942D66231055E2AEC0691AD7</string>
						<key>dateExpires</key>
						<string>05/11/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>TTGSnackbar.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>GD46A3UVCR</string>
						<key>name</key>
						<string>Drove &amp; Pace LLC</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3B015BBA249895BD942D66231055E2AEC0691AD7</string>
						<key>dateExpires</key>
						<string>05/11/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Toaster.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>GD46A3UVCR</string>
						<key>name</key>
						<string>Drove &amp; Pace LLC</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3B015BBA249895BD942D66231055E2AEC0691AD7</string>
						<key>dateExpires</key>
						<string>05/11/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>WebRTC.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>GD46A3UVCR</string>
						<key>name</key>
						<string>Drove &amp; Pace LLC</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3B015BBA249895BD942D66231055E2AEC0691AD7</string>
						<key>dateExpires</key>
						<string>05/11/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>nanopb.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>GD46A3UVCR</string>
						<key>name</key>
						<string>Drove &amp; Pace LLC</string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>GD46A3UVCR.com.droveandpace.vigorto</string>
				<key>aps-environment</key>
				<string>development</string>
				<key>com.apple.developer.icloud-container-environment</key>
				<string>Development</string>
				<key>com.apple.developer.icloud-container-identifiers</key>
				<array/>
				<key>com.apple.developer.icloud-services</key>
				<array>
					<string>CloudDocuments</string>
				</array>
				<key>com.apple.developer.team-identifier</key>
				<string>GD46A3UVCR</string>
				<key>com.apple.developer.ubiquity-container-identifiers</key>
				<array/>
				<key>get-task-allow</key>
				<true/>
				<key>keychain-access-groups</key>
				<array>
					<string>GD46A3UVCR.com.droveandpace.vigorto</string>
				</array>
			</dict>
			<key>name</key>
			<string>Vigorto.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>7aaa4d2e-d127-4759-9752-5caeb26dd34e</string>
				<key>name</key>
				<string>iOS Team Provisioning Profile: com.droveandpace.vigorto</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>GD46A3UVCR</string>
				<key>name</key>
				<string>Drove &amp; Pace LLC</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
